.about {
  .rub-container();
  .flex-wrap();
  box-sizing: border-box;
}

.about__list {
  list-style: none;
}

.about__title {
  margin: 30px 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.about__list {
  margin: 0;
  padding: 0;
}

.about__item span {
  display: block;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

.about__item svg {
  display: block;
  height: 32px;
  margin: 20px 0;
}

.about__item path,
.about__item svg {
  fill: @light-blue;
}
@media @tablet-widths {
  .about {
    .rub-container();
    padding: 20px 0 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    flex-basis: 100%;
  }

  .about__list {
    display: flex;
    flex-direction: column;
    width: 50%;

    &--left {
      width: 235px;
      margin-right: 95px;
    }
  }

  .about__item span {
    max-width: 295px;
    font-size: 20px;
    line-height: 22px;
    box-sizing: border-box;
  }
}
@media @desktop-widths {
  .about {
    padding: 20px 0 60px 175px;
    box-sizing: border-box;
    justify-content: flex-start;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    &--left {
      margin-right: 115px;
    }
  }
}
