.about {
  margin-bottom: 40px;
}

.about__list {
  list-style: none;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.about__list {
  padding: 0;
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

.about__item::before {
  content: "";
  display: block;
  padding: 20px 0;
}

.about__item--flower::before {
  background: url("../img/icon-feature-1.svg") no-repeat left;
}

.about__item--banknote::before {
  background: url("../img/icon-feature-3.svg") no-repeat left;
}

.about__item--heart::before {
  background: url("../img/icon-feature-5.svg") no-repeat left;
}

.about__item--thread::before {
  background: url("../img/icon-feature-2.svg") no-repeat left;
}

.about__item--rocket::before {
  background: url("../img/icon-feature-4.svg") no-repeat left;
}

.about__item--box::before {
  background: url("../img/icon-feature-6.svg") no-repeat left;
}
