.contacts {
  margin-top: 35px;
}

.contacts__wrap {
  box-sizing: border-box;
  .flex-wrap();
  .rub-container();
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.contacts__item {
  display: flex;
  justify-content: flex-start;
}

.contacts__data,
.contacts__text {
  font-size: 15px;
  line-height: 30px;
  color: #444;
  text-decoration: none;
}

.contacts__text {
}

.contacts__data {
  margin: 15px 0 15px 30px;

  &--mail {
    border-bottom: 1px solid @mid-blue;
  }

  &--mail:hover {
    color: @blue;
    border-bottom: 1px solid @blue;
  }

  &--mail:active {
    opacity: 0.3;
  }
}

.contacts__post {
  .container();
  width: 260px;
  height: 52px;
  margin: 40px auto 30px;
  padding-top: 14px;
}

.contacts__caption {
  margin: 10px 0;
}

.contacts__list {
  margin-bottom: 20px;
}

.contacts__icon {
  display: none;
}

.contacts__map {
  height: 457px;
  width: 100%;
  background: url("../img/map-mobile@1x.jpg") no-repeat 50%;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 575px auto;
  }
  @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/map-tablet@2x.jpg");
    background-size: 1150px auto;
  }
  @media (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/map-desktop@2x.jpg");
    background-size: 1150px auto;
  }
}

.contacts__map iframe {
  border: 0;
  width: 100%;
  height: 457;
}
@media @tablet-widths {
  .contacts {
    margin-top: 40px;
  }

  .contacts__wrap {
    .rub-container();
    padding: 0;
  }

  .contacts__caption {
    display: flex;
    justify-content: space-between;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 25px 0;
  }

  .contacts__list {
    display: flex;
    align-items: flex-start;
  }

  .contacts__item {
    justify-content: flex-start;
    min-width: 334px;
    width: 50%;
  }

  .contacts__data,
  .contacts__text {
    font-size: 17px;
  }

  .contacts__text {
    margin-right: 10px;
  }

  .contacts__map {
    margin: 40px 0;
    background: url("../img/map-tablet@1x.jpg") no-repeat 50%;
  }

  .contacts__post {
    width: 230px;
    margin: 55px auto;
  }

  .contacts__icon {
    display: block;
    align-self: center;
  }
}
@media @desktop-widths {
  .contacts {
    .rub-container();
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    height: 530px;
    padding-bottom: 100px;
  }

  .contacts__wrap {
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 175px;
    min-width: 525px;
    width: 525px;
    max-width: 525px;
  }

  .contacts__caption {
    display: block;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__icon {
    position: absolute;
    left: -110px;
    top: 0;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .contacts__data {
    margin: 10px 15px;
  }

  .contacts__button {
    padding-left: 175px;
    margin-top: 45px;
    order: 2;
    width: 350px;
  }

  .contacts__post {
    width: 230px;
    margin: 0;
  }

  .contacts__map {
    order: 3;
    width: 525px;
    height: 457px;
    margin: 0;
    padding: 0;
    align-self: center;
    background: url("../img/map-desktop@1x.jpg") no-repeat 50%;
  }
}
