.contacts__wrap {
  .container();
  padding: 0 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.contacts__data,
.contacts__text {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 30px;
  color: #444;
}

.contacts__text {
  width: 30%;
  &--mail {
    border-bottom: 1px solid #62d1ba;
  }
}

.contacts__data {
width: 50%;
}

.contacts__post {
  margin: 40px 30px;
}
