<<<<<<< HEAD
=======
.contacts__wrap {
  .container();
  padding: 0 30px;
}

>>>>>>> parent of bfced95... Полуфлекс сетка главной
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

<<<<<<< HEAD
.contacts__text,
.contacts__data {
  display: inline-block;
=======
.contacts__data,
.contacts__text {
  display: inline-block;
  vertical-align: top;
<<<<<<< HEAD
>>>>>>> parent of bfced95... Полуфлекс сетка главной
=======
>>>>>>> parent of bfced95... Полуфлекс сетка главной
  font-size: 15px;
  line-height: 30px;
  color: #444;
}

.contacts__text {
<<<<<<< HEAD
<<<<<<< HEAD
  display: inline-block;
  vertical-align: top;
  width: 80px;
}

.contacts__text--mail {
  border-bottom: 1px solid #62d1ba;
}

.contacts__data {
  width: 70%;
}

.contacts__post {
  margin: 0 20px;
=======
=======
>>>>>>> parent of bfced95... Полуфлекс сетка главной
  width: 30%;
  &--mail {
    border-bottom: 1px solid #62d1ba;
  }
}

.contacts__data {
width: 50%;
}

.contacts__post {
  margin: 40px 30px;
<<<<<<< HEAD
>>>>>>> parent of bfced95... Полуфлекс сетка главной
=======
>>>>>>> parent of bfced95... Полуфлекс сетка главной
}
