.form-radio__cont {
  .rub-container();
  .flex-wrap();
}

.form-radio__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.form-radio__item {
  display: block;
}

.form-radio__caption {
  font-size: 17px;
  line-height: 18px;
  color: #000;
  font-weight: bold;
}
@media @tablet-widths {
  .form-radio__cont {
    display: flex;
  }

  .form-radio__item {
    padding: 25px 0;
  }

  .form-radio__caption {
    font-size: 19px;
  }
}
