.form-data__title {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @mid-blue;
  text-transform: uppercase;
}

.form-data__cont {
  .rub-container();
  .flex-wrap;
  min-width: 260px;
}

.form-data__item {
  display: block;
  margin-bottom: 22px;
}

.form-data__caption {
  display: block;
  font-size: 17px;
  line-height: 18px;
  color: #000;
  font-weight: bold;
}

.form-data__field {
  width: 100%;
  height: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    color: #444;
    opacity: 0.3;
  }

  &:hover {
    border-color: @mid-blue;
  }
}

.form-data__mailsvg,
.form-data__phonesvg {
  opacity: 0.2;
}

.form-data__item:hover .form-data__mailsvg,
.form-data__item:hover .form-data__phonesvg {
  fill: @mid-blue;
  opacity: 1;
}

.form-data__input-wrap {
  position: relative;
  width: 100%;
}

.form-data__text {
  width: 100%;
  resize: none;
  height: 140px;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border: 2px solid #444;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    color: #444;
    opacity: 0.3;
  }

  &:hover {
    border-color: @mid-blue;
  }
}

.form-data__fields {
  margin-top: 30px;
  margin-bottom: 32px;
}

.form-data__bigfield {
  margin-top: 25px;
}

.form-data__icon {
  position: absolute;
  right: 8px;
  bottom: 0;
  width: 32px;
  height: 25px;
}

.form-data__hint {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #444;
}

.form-data__submit {
  margin: 35px auto 55px;
  width: 100%;
  height: 52px;
  font-size: 17px;
}
@media @tablet-widths {
  .form-data__contacts {
    margin-top: 28px;
    padding-top: 0;
    padding-bottom: 28px;
  }

  .form-data__cont {
    padding-top: 20px;
  }

  .form-data__text {
    font-size: 19px;
  }

  .form-data__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .form-data__fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px 0 0;
  }

  .form-data__bigfield {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form-data__item {
    display: flex;
    align-items: baseline;
    min-width: 500px;
  }

  .form-data__caption {
    font-size: 19px;
    margin-right: 25px;
  }

  .form-data__field {
    font-size: 19px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: transparent;
  }

  .form-data__icon {
    position: absolute;
    right: 8px;
    top: 10px;
    width: 32px;
    height: 25px;
  }

  .form-data__submit {
    width: 230px;
    order: 3;
    margin: 50px 0;
  }

  .form-data__hint {
    order: 4;
    font-size: 17px;
    line-height: 30px;
    margin: 40px 0;
  }
}
@media @desktop-widths {
  .form-data__item {
    width: 702px;
  }

  .form-data__text {
    height: 142px;
  }

  .form-data__submit {
    margin-left: 175px;
  }

  .form-data__hint {
    margin-right: 175px;
  }
}
