.form-checkbox {
  margin-bottom: 22px;
}

.form-checkbox__wrapper {
  .flex-wrap();
  .rub-container();
  min-width: 260px;
}

.form-checkbox__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.form-checkbox__item {
  display: block;
  position: relative;
  padding: 21px 40px 21px 65px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #444;
  }
}

.form-checkbox__caption {
  font-size: 17px;
  line-height: 18px;
  color: #000;
  font-weight: bold;
}

.form-checkbox__input {
  display: none;
}
@media @tablet-widths {
  .form-checkbox {
    margin: 0;
    width: 100%;
  }

  .form-checkbox__wrapper {
    display: flex;
  }

  .form-checkbox__title {
    background: #f1f1f1;
  }

  .form-checkbox__selectors {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .form-checkbox__item {
    width: 240px;
    padding: 25px 40px 25px 80px;
    margin-right: 10px;

    &::before {
      top: 10px;
      width: 50px;
      height: 50px;
    }
  }

  .form-checkbox__caption {
    font-size: 19px;
  }

  .form-checkbox__selectors {
    display: flex;
    flex-wrap: wrap;
  }
}
