.info {
  border: 1px solid #ededed;
  width: 260px;
}

.info__title {
  padding: 10px 10px 10px 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;

  &--video {
    position: relative;
    background: url("../img/icon-video.svg") no-repeat left 30px top 15px;
  }
}

.info__media {
  position: relative;
}

.info__playbtn {
  width: 101px;
  height: 78px;
  background: red;
  top: 40%;
  left: 40%;
  position: absolute;
}

.info__description {
  margin: 20px 35px;
  font-size: 13px;
  line-height: 24px;
  color: #444;
}
@media @tablet-widths {
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
  }

  .info__title {
    font-size: 20px;
    width: 100%;

    &--video {
      position: relative;
      background: url("../img/icon-video.svg") no-repeat left 30px top 5px;
    }
  }

  .info__media {
    order: -1;
    width: 100%;
    height: 457px;
  }

  .info img {
    width: 100%;
    height: 457px;
  }

  .info__description {
    font-size: 15px;
    line-height: 30px;
  }

  .inner-page__order {
    width: 584px;
    margin: 40px auto 45px;
  }
}
@media @desktop-widths {
  .info {
    height: 457px;
    flex-wrap: wrap;
    margin-bottom: 105px;
  }

  .info__media {
    width: 682px;
    height: 457px;
  }

  .info img {
    width: 682px;
    height: 457px;
  }

  .info__title {
    font-size: 20px;
    width: 230px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 10px;

    &--video {
      position: relative;
      background: url("../img/icon-video.svg") no-repeat left 10px top 50px;
    }
  }

  .info__description {
    width: 230px;
    margin: 0 auto;
    flex-grow: 1;
  }

  .inner-page__order {
    width: 230px;
    margin: 55px auto;
  }
}
