.inner-page__head {
  background: #f1f1f1;
}

.inner-page__title {
  min-width: 320px;
  width: 100%;
  padding: 74px 0;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.inner-page__wrap {
  .rub-container();
  .flex-wrap();
  box-sizing: border-box;
}

.inner-page__cont {
  .rub-container();
  .flex-wrap();
  min-width: 260px;
}

.inner-page__intro {
  padding: 20px 0 10px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: #444;
}

.inner-page__order {
  width: 192px;
  height: 52px;
  margin: 26px auto 31px;
}
@media @tablet-widths {
  .inner-page {
    display: flex;
    flex-direction: column;
  }

  .inner-page__head {
    position: relative;
    height: 222px;
  }

  .inner-page__title {
    padding-top: 94px;
    padding-bottom: 13px;
    padding-left: 9px;
    font-size: 43px;
    line-height: 50px;
    position: relative;
  }

  .inner-page__wrap {
    padding: 0;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .inner-page__intro {
    margin-top: 54px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media @desktop-widths {
  .inner-page__wrap {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .inner-page__head {
    height: 252px;
  }

  .inner-page__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .inner-page__intro {
    padding-left: 175px;
    padding-right: 175px;
    margin-top: 105px;
  }
}
