.inner-page__title {
  padding: 74px 0;
  font-size: 27px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
  text-align: center;
  background: #f1f1f1;
}

.inner-page__wrap {
  margin: 20px 30px;
}

.inner-page__intro {
  padding: 20px 0;
  font-size: 13px;
  line-height: 24px;
  color: #444;
}

.inner-page__order {
  width: 192px;
  .btn-container();
}
