.main-header {
  .no-outline();
  position: relative;
  box-sizing: border-box;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}

@media @tablet-widths {
  .main-header {
    height: 90px;
  }
}
