.main-item__wrap {
  .wrap();
  .box();
}

.main-item__title {
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.main-item__weekly {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.main-item__text {
  width: 260px;
  font-size: 15px;
  line-height: 24px;
  color: #444;
}

.main-item table {
  font-size: 15px;
  line-height: 20px;
  color: #444;
}

.main-item__price {
  display: block;
  margin: 30px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444;
}

@media @tablet-widths {
  .main-item__wrap {
    .flex();
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    justify-content: baseline;
    align-content: space-between;
  }

  .main-item__weekly {
    align-self: flex-end;
    order: -1;
  }

  .main-item img {
    order: 2;
    align-self: flex-end;
    width: 260px;
  }
}

@media @desktop-widths {
  .main-item__wrap {
    padding-left: 175px;
  }
}
