<<<<<<< HEAD
.main-item {

=======
.main-item__wrap {
  .container();
  padding: 10px 30px;
<<<<<<< HEAD
>>>>>>> parent of bfced95... Полуфлекс сетка главной
=======
>>>>>>> parent of bfced95... Полуфлекс сетка главной
}

.main-item__title {
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.main-item__weekly {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.main-item__text {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.main-item table {
  font-size: 15px;
  line-height: 20px;
}


.main-item__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
<<<<<<< HEAD
  color: #444444;
=======
  color: #444;
}

.main-item__buy {

<<<<<<< HEAD
>>>>>>> parent of bfced95... Полуфлекс сетка главной
=======
>>>>>>> parent of bfced95... Полуфлекс сетка главной
}
