.main-item {
  margin: 30px 20px;
}

.main-item__title {
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.main-item__weekly {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.main-item__text {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.main-item table {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.main-item__price {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}
