.page-form {
  box-sizing: border-box;
}

.page-form__title {
  position: relative;
  margin-bottom: 15px;

  &::after {
    height: 1px;
    top: 6px;
    left: 65px;
    right: 0;
    position: absolute;
    content: "";
    border-bottom: 1px solid @mid-blue;
  }
}

.page-form__wrap {
  .rub-container();
  .flex-wrap;
  box-sizing: border-box;
}

.page-form__bigwrap {
  .flex-wrap;
  box-sizing: border-box;
}
@media @tablet-widths {
  .page-form__title {
    position: relative;
    min-width: 167px;
    margin: 25px 0;
    box-sizing: border-box;

      &::after {
      display: none;
    }
  }

  .page-form--gray {
    background: #f1f1f1;
  }

  .page-form--dataform {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media @desktop-widths {
  .page-form__title {
    width: 175px;
    padding-left: 62px;
  }
}
