.page-footer {
  box-sizing: border-box;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__link {
  font-size: 0;
  padding: 5px;
  margin: 10px;

  &--copyright {
    width: 27px;
    height: 34px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background: url("../img/logo-htmlacademy.svg") no-repeat 50%;
  }
}

.page-footer__link:hover path {
  fill: @blue;
}

.page-footer__link:active {
  opacity: 0.3;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright-link {
  .link();
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-link svg {
  fill: @light-blue;
}

.page-footer__copyright-link:hover svg {
  fill: @blue;
}

.page-footer__text {
  margin-right: 20px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.page-footer__logo {
  display: none;
}
@media @tablet-widths {
  .page-footer {
    padding: 32px 0;
  }

  .page-footer__cont {
    .rub-container();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }

  .page-footer__social {
    border: none;
  }

  .page-footer__link {
    font-size: 0;
    padding: 7px;
    margin: 55px 10px;

    &--copyright {
      padding: 0;
    }
  }

  .page-footer__logo {
    width: 33%;
    display: block;
    height: 34px;
  }

  .page-footer__logo-link:hover svg {
    fill: @blue;
  }

  .page-footer__logo-link:active svg {
    opacity: 0.3;
  }

  .page-footer__social {
    width: 33%;
  }

  .page-footer__copyright {
    width: 33%;
    justify-content: flex-end;
  }

  .page-footer__text {
    margin: 0 20px 0 0;
  }
}
