.reviews {
  .rub-container();
}

.reviews__wrap {
  .flex-wrap();
  box-sizing: border-box;
  margin-top: 55px;
  margin-bottom: 45px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.reviews__item {
  padding: 0;
  margin: 0;

  &--author {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
  }

  &--hashtag {
    display: block;
    font-size: 17px;
    line-height: 30px;
    color: #444;
    font-weight: normal;
  }
}

.reviews__text {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px;
  color: #444;
}

.reviews__arrows {
  text-align: center;
}

.reviews__post {
  max-width: 260px;
  font-size: 18px;
  padding-top: 14px;
  margin: 0 auto;
}
@media @tablet-widths {
  .reviews {
    min-width: 668px;
    max-width: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .reviews__wrap {

    padding: 0 50px 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    background: #fff url("../img/review@1x.jpg") no-repeat top left;
    @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .reviews__post {
    order: -1;
    width: 175px;
    max-width: 175px;
    height: 52px;
    margin: 78px 0 30px;
    font-size: 17px;
  }

  .reviews__text {
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__item {
    padding: 0;
    margin: 0;

    &--author {
      font-size: 17px;
    }
  }

  .reviews__title {
    margin: 76px 0 30px;
    order: -1;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__arrows {
    align-self: flex-end;
  }

  .reviews__arrows .ghost-btn {
    width: 90px;
    height: 50px;
    padding: 25px;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
}
@media @desktop-widths {
  .reviews {
    background: none;
  }

  .reviews__wrap {
    width: 1050px;
    padding-left: 175px;
    padding-bottom: 110px;
    background: #fff url("../img/review@1x.jpg") no-repeat top left;
    @media (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    margin: 70px 0 30px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    width: 770px;
    margin-bottom: 40px;
  }
}
