<<<<<<< HEAD
=======
.reviews__wrap {
  .container();
  padding: 0 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

>>>>>>> parent of bfced95... Полуфлекс сетка главной
.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.review__item {
  padding: 0;
  margin: 0;
}

.review__text {
<<<<<<< HEAD
=======
  margin-bottom: 20px;
>>>>>>> parent of bfced95... Полуфлекс сетка главной
  font-size: 15px;
  line-height: 30px;
  color: #444;
}

.review__post {
  font-size: 18px;
}
<<<<<<< HEAD

.review__item--author {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
}

.review__item--hashtag {
  font-size: 17px;
  line-height: 30px;
  color: #444;
  font-weight: normal;
}
=======
>>>>>>> parent of bfced95... Полуфлекс сетка главной
